@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  padding-top: env(safe-area-inset-top);
}

#root {
  height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
